* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: #121212;
    width: 100%;
    height: max-content;
  }
  
  .navbar-brand {
    font-weight: 900;
    letter-spacing: 4px;
    color: whitesmoke;
  }
  
  .navbar-brand:hover {
    color: whitesmoke;
  }
  
  .navbar-toggler, .navbar-toggler:focus {
    box-shadow: none;
    outline: none;
  }
  
  .navbar-nav li {
    text-align: center;
    padding-left: 1em;
    padding-right: 1em;
  }

  .navbar-nav li a {
    text-transform: uppercase;
    color: goldenrod !important;
  }
  
  .navbar-nav li a:hover {
    color: whitesmoke !important;
  }
  
  .searchBar {
    margin-top: 8px;
    margin-bottom: 8px;
  }
  
  .searchBar div input {
    border: none;
    outline: none;
    border-radius: 0;
    border-right: none;
    margin: 0;
    padding: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: whitesmoke;
    padding-left: 2%;
  }

  .searchBar div input:focus {
    background-color: whitesmoke;
  }
  
  .searchBar div input:focus {
    box-shadow: none;
  }
  
  .searchBar div button {
    outline: none;
    border-radius: 0;
    border-left: none;
    margin: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: whitesmoke;
  }
  
  .searchBar div button:hover {
    background-color: rgb(26, 26, 26);
    color: whitesmoke;
  }

  @media screen and (max-width: 991px) {
    form.searchBar {
      flex: 1;
      width: 100%;
    }
  }